.error {
  font-size: 200px;
  color: #B93160;
}
.error-wrapper {
  color: #FFE3D8;
  background-color: #5B4B8A;
  border-radius: 3vh;
  margin: 30px auto;
  width: 40%;
  padding: 15px;
}
.error-btn {
  border-radius: 3vh;
  padding: 15px 25px;
  border: none;
  background-color: #371B58;
  color: #FFE3D8;
  font-size: 1.4em;
}

@media only screen and (max-width: 768px) {
  .error-wrapper {
    width: 90%;
  }
  .error{
    font-size: 150px;
  }
  h2{
    font-size: 1.5em;
  }
}